extends ../layout
block content
    include ../includes/navbar
    script(src="../js/customers/customerTable.js")
    - const fixDate = (utc) => {
        -  let date = (utc.toString()).split(' ')
        -  return date[2] + ' ' + date[1] + ' ' + date[3] 
    - }
    - const checkPets = (pets) => {
        - if (pets === '') return '-'
        - else return pets
    - }
    .container(style="margin-top: 3rem;")
        h3 Customers
            i.fas.fa-user(style="margin-left:1rem;")
        .row
            table#customerTable.table.table-borderless.table-light.table-striped.table-hover.shadow
                thead
                    tr  
                        th
                            i.far.fa-address-card.fa-2x
                        th Full Name
                        th Date of Birth
                        th City
                        th Address
                        th Postal Code
                        th Phone
                        th Family Members
                        th Pets
                        th Points
                tbody
                    each customer in customers   
                        tr      
                            td #{customer.Card}
                            td #{customer.Name}
                            td #{fixDate(customer.Date_of_birth)}
                            td #{customer.City} 
                            td #{customer.Street} #{customer.Number_}
                            td #{customer.Postal_code}
                            td #{customer.Phone}
                            td #{customer.Family_members}
                            td #{checkPets(customer.Pet)}
                            td #{customer.Points}
