extends ../layout
block content
    include ../includes/navbar
    script(src="../js/stores/storesTable.js")
    #addStoreModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light(style='border-radius: 15px; ')
                h3.modal-header.text-center.bg-light.text-dark(style="color: white;") Add Store
                    button#add-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form 
                        .col 
                            .form-group
                                input#add_store_id.form-control(placeholder='Store ID' name='store_id')    
                            .form-group
                                input#add_city.form-control(placeholder='City' name='city')
                            .form-group
                                input#add_street.form-control(placeholder='Street' name='street')
                            .form-group
                                input#add_number.form-control(placeholder='Number' name='number')    
                            .form-group
                                input#add_postal_code.form-control(placeholder='Postal Code' name='nupostal_codember')
                            .form-group
                                input#add_size.form-control(placeholder='Size' name='size')
                            .form-group
                                input(placeholder='Operating Hours' type='text' name='add_oper_hours' list='add_oper_hoursList')
                                datalist#add_oper_hoursList
                                    option.form-control(value="07:00-21:00")  
                                    option.form-control(value="08:00-21:00")
                                    option.form-control(value="09:00-21:00")             
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #store_added.alert.alert-success.collapse(role='alert')
                                p Store added
                                    i.fas.fa-check-circle
                            #store_not_added.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle  
                        .col    
                            button.btn.btn-success(style="margin:auto;" id='add-btn' type='submit')
                                i.fas.fa-plus
    #editStoreModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editStoreLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light
                h3.modal-header.text-center.bg-light.text-dark Edit Store
                    button#edit-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form  
                        .col
                            .form-group
                                input#edit_store_id.form-control(placeholder='Store ID' name='store_id')    
                            .form-group
                                input#edit_city.form-control(placeholder='Edit store city' name='city')
                            .form-group
                                input#edit_street.form-control(placeholder='Edit store street' name='street')
                            .form-group
                                input#edit_number.form-control(placeholder='Edit store number' name='number')
                            .form-group
                                input#edit_postal_code.form-control(placeholder='Edit postal code' name='postal_code')    
                            .form-group
                                input#edit_size.form-control(placeholder='Edit store size' name='size')    
                            .form-group
                                input(placeholder='Edit operating hours' type='text' name='edit_oper_hours' list='edit_oper_hoursList')
                                datalist#edit_oper_hoursList
                                    option.form-control(value="07:00-21:00")  
                                    option.form-control(value="08:00-21:00")
                                    option.form-control(value="09:00-21:00")
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #store_edited.alert.alert-success.collapse(role='alert')
                                p Store edited
                                    i.fas.fa-check-circle
                            #store_not_edited.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle     
                        .col
                            button.btn.btn-info.text-white(style=" margin:auto; font-size: large; border-radius: 15px; padding: 1rem;  width: 80%;text-align: center;" id='edit-btn' type='submit')
                                i.fas.fa-edit
    #deleteStoreModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteStoreLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light
                h3.modal-header.text-center.bg-light.text-dark Delete Store
                    button#delete-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form(id="deleteForm")
                        .col(style="margin-right: 2rem;")
                            .form-group
                                label(for='delete_store_id') Give Store ID
                                input#delete_store_id.form-control( placeholder='Store ID' name='delete_store_id') 
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #store_deleted.alert.alert-success.collapse(role='alert')
                                p Store deleted
                                    i.fas.fa-check-circle
                            #store_not_deleted.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle
                        .col
                            button.btn.btn-danger(style="margin:auto;" id='delete-btn' type='submit')
                                i.fa.fa-trash
    .container(style="position: relative;  margin-top: 3rem;")
        .row
            .col(style="margin-left: 3rem;")
                a.btn.btn-success.shadow(href= "#" data-toggle='modal' data-target='#addStoreModal' role="button") Add Store
            .col
                a.btn.btn-info.shadow(style=' margin: 1rem 0rem 0.5rem 0.5rem; font-size: large;border-radius: 15px;padding: 1rem;width: 80%; text-align: center;' href= "#" data-toggle='modal' data-target='#editStoreModal' role="button") Edit Store 
            .col
                a.btn.btn-danger.shadow(href= "#" data-toggle='modal' data-target='#deleteStoreModal' role="button") Delete Store      
    .container
        .row 
            .col
                h3 Stores
                    i.fas.fa-store(style="margin-left:1rem;")
        .row
            .col
                table#storesTable.table.table-borderless.table-light.table-striped.table-hover.shadow
                    thead
                        tr  
                            th ID
                            th City
                            th Address
                            th Postal Code
                            th Operating Hours
                            th Size 
                    tbody
                        each store in stores
                            tr      
                                td #{store.Store_id}
                                td #{store.City}
                                td #{store.Street} #{store.Number_}
                                td #{store.Postal_code} 
                                td #{store.Operating_hours}
                                td #{store.Size_} &#13217;
        .row
            .col
                h3(style='margin-top:18%;') Top stores per city
                    i.far.fa-star(style='margin-left: 1rem;')
            .col(style='margin-top:2rem;')
                table#topStoresTable.table.table-borderless.table-light.table-striped.table-hover.shadow(style='width:75%;')
                    thead
                        tr  
                            th City
                            th Address
                    tbody
                        each top in top_stores
                            tr
                                td #{top.city}
                                td #{top.adr}