extends ../layout
block content
    include ../includes/navbar
    script(src="../js/products.js")
    #addProductModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light(style='border-radius: 15px; ')
                h3.modal-header.text-center.bg-light.text-dark(style="color: white;") Add Product
                    button#add-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form 
                        .col 
                            .form-group
                                input#add_barcode.form-control(placeholder='Barcode' name='barcode')    
                            .form-group
                                input#add_price.form-control(placeholder='Price' name='price')
                            .form-group
                                input#add_name.form-control(placeholder='Product name' name='name')
                            .form-group
                                input#add_brand.form-control(placeholder='Brand name' name='brand')    
                            .form-group
                                input(placeholder='Category' type='text' name='add_category' list='add_categoryList')
                                datalist#add_categoryList
                                    option.form-control(value="1")  Fresh
                                    option.form-control(value="2")  Frozen
                                    option.form-control(value="3")  Liquors and Spirits
                                    option.form-control(value="4")  Self Care
                                    option.form-control(value="5")  Home
                                    option.form-control(value="6")  Pets 
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #product_added.alert.alert-success.collapse(role='alert')
                                p Product added
                                    i.fas.fa-check-circle
                            #product_not_added.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle  
                        .col    
                            button.btn.btn-success(id='add-btn' type='submit')
                                i.fas.fa-plus
    #editProductModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editProductLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light
                h3.modal-header.text-center.bg-light.text-dark Edit Product
                    button#edit-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form  
                        .col
                            .form-group
                                label(for='barcode') Edit product by barcode
                                input#edit_barcode.form-control(placeholder='Product barcode' name='barcode')    
                            br
                            .form-group
                                input#edit_price.form-control(placeholder='New price' name='price')
                            .form-group
                                input#edit_name.form-control(placeholder='New product name' name='name')
                            .form-group
                                input#edit_brand.form-control(placeholder='New brand name' name='brand')    
                            .form-group
                                input(placeholder='New category' type='text' name='edit_category' list='edit_categoryList')
                                datalist#edit_categoryList
                                    option.form-control(value="1")  Fresh
                                    option.form-control(value="2")  Frozen
                                    option.form-control(value="3")  Liquors and Spirits
                                    option.form-control(value="4")  Self Care
                                    option.form-control(value="5")  Home
                                    option.form-control(value="6")  Pets 
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #product_edited.alert.alert-success.collapse(role='alert')
                                p Product edited
                                    i.fas.fa-check-circle
                            #product_not_edited.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle     
                        .col
                            button.btn.btn-info.text-white(style=" margin:auto; font-size: large; border-radius: 15px; padding: 1rem;  width: 80%;text-align: center;" id='edit-btn' type='submit')
                                i.fas.fa-edit
    #deleteProductModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteProductLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content.bg-light
                h3.modal-header.text-center.bg-light.text-dark Delete product
                    button#delete-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body.mx-3.bg-light
                    .row
                        form(id="deleteForm")
                        .col(style="margin-right: 2rem;")
                            .form-group
                                label(for='delete_barcode') Delete product by barcode
                                input#delete_barcode.form-control( placeholder='Barcode' name='delete_barcode') 
                    .row(style='margin: 2rem 30% 1rem 30%;')
                        .col
                            #product_deleted.alert.alert-success.collapse(role='alert')
                                p Product deleted
                                    i.fas.fa-check-circle
                            #product_not_deleted.alert.alert-danger.collapse(role='alert')
                                p Something went wrong
                                    i.fas.fa-exclamation-circle
                        .col
                            button.btn.btn-danger(id='delete-btn' type='submit')
                                i.fa.fa-trash
    #priceHistoryModal.modal.fade(tabindex='0', role='dialog', aria-labelledby='priceHistoryLabel', aria-hidden='true')
        .modal-dialog.modal-lg( role='document' style=' position: absolute; top: 10px;right: 100px; bottom: 0;left: 0;z-index: 10040;overflow: auto;overflow-y: auto;')
            .modal-content.bg-light
                h3.modal-header.text-center.bg-light.text-dark Price History
                    button#history-close-btn.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.far.fa-times-circle
                .modal-body#md_bd.bg-light(style="width:750px;")
    .container(style="position: relative;  margin-top: 3rem;")
        .row
            .col(style="margin-left: 3rem;")
                a.btn.btn-success.shadow(href= "#" data-toggle='modal' data-target='#addProductModal' role="button") Add Product
            .col
                a.btn.btn-info.shadow(style=' margin: 1rem 0rem 0.5rem 0.5rem; font-size: large;border-radius: 15px;padding: 1rem;width: 80%; text-align: center;' href= "#" data-toggle='modal' data-target='#editProductModal' role="button") Edit Product 
            .col
                a.btn.btn-danger.shadow(href= "#" data-toggle='modal' data-target='#deleteProductModal' role="button") Delete Product
    .container(id="wrapper" style="margin-top: 3rem;")
        h3 Products
            i.fas.fa-shopping-basket(style="margin-left:1rem;")
        table#productTable.table.table-borderless.table-light.table-striped.table-hover.shadow-lg
            thead
                tr  
                    th Barcode
                    th Price
                    th Name
                    th Brand
                    th Category
                    th Price History 
            tbody
                each product in products   
                    tr      
                        td #{product.Barcode}
                        td #{product.Price} $
                        td #{product.prod_name}
                        td #{product.Brand_name} 
                        td #{product.categ_name}
                        td
                            a#price-history-btn.btn.btn-secondary.shadow(href= "#" data-toggle='modal' data-target='#priceHistoryModal' role="button")
                                i.fas.fa-history
